@model UrlShortener.Models.UrlPaginatedListModel

<h1>Urls</h1>

<form method="get" asp-controller="Urls" asp-action="Index">
    <input class="btn btn-sm btn-outline-dark text-start"
        placeholder="Search..."
        size="40"
        action="form-control"
        asp-controller="Urls"
        asp-action="Index"
        asp-for="SearchFilter"
        asp-route-searchFilter="@Model.SearchFilter" />
    <button id="url-submission-btn" class="btn btn-sm btn-primary" type="submit">Go</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a class="col-4"
                    asp-controller="Urls"
                    asp-action="Index"
                    asp-route-sortColumn="@(Model.SortColumn == "url_asc" ? "url_desc" : "url_asc")"
                    asp-route-page="@Model.PageIndex"
                    asp-route-searchFilter="@Model.SearchFilter">
                    Url
                </a>
            </th>
            <th>
                <a class="col-4"
                    asp-controller="Urls"
                    asp-action="Index"
                    asp-route-sortColumn="@(Model.SortColumn == "alias_asc" ? "alias_desc" : "alias_asc")"
                    asp-route-page="@Model.PageIndex"
                    asp-route-searchFilter="@Model.SearchFilter">
                    Shortened Url
                </a>
            </th>
            <th>
                <!--Sort most recent by default (which is desc)-->
                <a class="col-4"
                    asp-controller="Urls"
                    asp-action="Index"
                    asp-route-sortColumn="@(Model.SortColumn == "date_desc" ? "date_asc" : "date_desc")"
                    asp-route-page="@Model.PageIndex"
                    asp-route-searchFilter="@Model.SearchFilter">
                    Date Created
                </a>
            </th>
            <th>
                <!--Sort highest by default (which is desc)-->
                <a class="col-4"
                    asp-controller="Urls"
                    asp-action="Index"
                    asp-route-sortColumn="@(Model.SortColumn == "hits_desc" ? "hits_asc" : "hits_desc")"
                    asp-route-page="@Model.PageIndex"
                    asp-route-searchFilter="@Model.SearchFilter">
                    Hits
                </a>
            </th>
            <th>
                <!--Sort most recent by default (which is desc)-->
                <a class="col-4"
                    asp-controller="Urls"
                    asp-action="Index"
                    asp-route-sortColumn="@(Model.SortColumn == "last_hit_desc" ? "last_hit_asc" : "last_hit_desc")"
                    asp-route-page="@Model.PageIndex"
                    asp-route-searchFilter="@Model.SearchFilter">
                    Last Hit
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShortenedUrlModel item in Model.ShortenedUrls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.FullUrl)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.FullAliasUrl)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Hits)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.LastHit)
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Pagination controls-->
<footer class="border-top footer">
    <p>Showing @Model.ShortenedUrls.Count of @Model.TotalCount results</p>
    <div class="container-fluid">
        <div class="row row-cols-auto">
            <a class="nav-link col @(@Model.HasPrev ? "" : "disabled")"
                asp-controller="Urls"
                asp-action="Index"
                asp-route-page="@(Model.PageIndex - 1)"
                asp-route-sortColumn="@Model.SortColumn"
                asp-route-searchFilter="@Model.SearchFilter">
                &lt; Prev
            </a>
            <span class="btn disabled ">@(Model.PageIndex + 1)</span>
            <a class="nav-link col @(@Model.HasNext ? "" : "disabled")"
                asp-controller="Urls"
                asp-action="Index"
                asp-route-page="@(Model.PageIndex + 1)"
                asp-route-sortColumn="@Model.SortColumn"
                asp-route-searchFilter="@Model.SearchFilter">
                Next &gt;
            </a>
        </div>
    </div>
</footer>
